$mainColor:#F79320;
.details{
    position: relative;
    &::before{
        content: '';
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        right: 0;
        width: 2px;
        height: 50%;
        background-color: #ddd;
    }
    &:first-child::before{
        content: none;
    }
    &:last-child::before{
        content: none;
    }
    @media (max-width:991px) {
        &::before{
            content: '';
            position: absolute;
            top: 100%;
            transform: translate(-25%, -70%);
            width: 70%;
            height: 3px;
            background-color: #ddd;
        }
    }
}

.sub-usual{
  text-align: center;
  font-size: 10px;
  font-weight: 300;
  margin-top: 5px;
}

.chart-container{
  background-color: #FAFAFA;
  table th,table td{
    background-color: #FAFAFA;
  }
}
