$mainColor: #f79320;
/* #################################### Head Cards Style ####################################### */
.head-card {
  .icon-head{
    height: fit-content;
    border: 1px dotted;
  }
  img{
    width: 130px;
    height: 100%;
    object-fit: cover;
    border-bottom-right-radius: 10px;
    filter: sepia(350%);
  }
  &.main-card{
    img{
      width: 200px;
      right: 30px;
      object-fit: cover;
    }
  }
  p{
    color: #96a0b5;
    font-size: 18px;
    .sar-balance{
      font-size: 16px;
    }
  }
  h3 {
    font-weight: 500;
    color: #222;
  }
  .info{
    position: absolute;
    top: 20px;
    right: 20px;
  }
  &.card-balance{
    background-image: url('../../../../assets/image/globe.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 85% center;
    img{
      filter: sepia(0) !important;
      width: 80px;
    }
  }
  &.card-fuel{
    img{
      filter: sepia(0) !important;
      width: 90px;
      height: 90px;
      object-fit: cover;
    }
  }
}

/* #################################### Global Style ####################################### */
span:not(.main-color){
  font-size: 16px;
  color: #ccc;
}
.modal-content{
  background-image: linear-gradient(to left, #f7932028 10%, #fff 90%);
}
.company-Info{
  border: 1px solid $mainColor;
}
.chart-container{
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100%;
  height: 400px;
}
@media (max-width:567px) {
  .chart-container{
    height: 100%;
  }
}

/* #################################### Ads Style ####################################### */
swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
