<section class="w-100 my-3">
    <div class="container-fluid">
        <div class="mx-3">
            <div class="head d-flex justify-content-between align-items-center">
                <div class="title">
                    <h5 class="m-0 subtitle">Welcome</h5>
                    <h1 class="m-0">Khaled</h1>
                </div>
                <div class="lang">
                    <select name="lang" id="lang" class="form-select">
                        <option value="engilsh">English</option>
                        <option value="engilsh">العربية</option>
                    </select>
                </div>
            </div>

            <div class="row g-3 my-3">
                <div class="col-md-3">
                    <div class="bg-white h-100 d-flex justify-content-center align-items-center gap-3 px-4 rounded-4 p-3">
                        <div class="d-flex justify-content-center align-items-center">
                            <img src="./assets/image/iconlogo.png" class="w-100 rounded-circle" alt="">
                        </div>
                        <div>
                            <h2 class="m-0">Taiba</h2>
                            <h2 class="m-0">Contact</h2>
                        </div>
                        <div class="rounded-circle d-flex justify-content-center align-items-center">
                            <i class="fa-solid fa-gas-pump"></i>
                        </div>
                    </div>
                </div>

                <div class="col-md-9 bg rounded-3">
                    <div class="row items h-100">
                        <div class="col-md-4">
                            <div class="item d-flex align-items-center justify-content-center gap-2 h-100">
                                <span class="rounded-circle">
                                    <i class="fa-solid fa-circle-dollar-to-slot"></i>
                                </span>
                                <div class="data">
                                    <p class="m-0 fs-5">Fuel Balance</p>
                                    <h6 class="m-0 fs-3">500<sub>SAR</sub></h6>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="item d-flex align-items-center justify-content-center gap-2 h-100">
                                <span class="rounded-circle">
                                    <i class="fa-solid fa-building"></i>
                                </span>
                                <div class="data">
                                    <p class="m-0 fs-5">Wash Balance</p>
                                    <h6 class="m-0 fs-3">500<sub>SAR</sub></h6>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="item d-flex align-items-center justify-content-center gap-2 h-100">
                                <span class="rounded-circle">
                                    <i class="fa-solid fa-gas-pump"></i>
                                </span>
                                <div class="data">
                                    <p class="m-0 fs-5">Oil Balance</p>
                                    <h6 class="m-0 fs-3">500<sub>SAR</sub></h6>
                                </div>
                            </div>
                        </div>

                        <!-- <div class="col-md-3">
                            <div class="item d-flex align-items-center justify-content-center gap-2 h-100">
                                <i class="fa-solid fa-car"></i>
                                <div class="data">
                                    <p class="m-0">Total Cars</p>
                                    <h6 class="m-0">5000</h6>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>

            <div class="row g-3">
                <div class="col-md-5">
                    <div class="bg-white p-5 h-100">
                        <h5>Balance Statistics</h5>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="bg-white p-5 h-100">
                        <h5>Companies statistics</h5>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="bg-white p-5 h-100">
                        <h5>Car Status</h5>
                    </div>
                </div>
                <div class="col-12">
                    <div class="d-flex gap-2">
                        <h5>Last Transactions</h5>
                        <div>
                            <span>Newest</span>
                            <span>Oldest</span>
                        </div>
                    </div>
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Handle</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>mdo</td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>fat</td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td colspan="2">Larry the Bird</td>
                            <td>twitter</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</section>