$mainColor: #f79320;
/* #################################### Head Cards Style ####################################### */
.head-card {
  .icon-head{
    height: fit-content;
    border: 1px dotted;
  }
  img{
    width: 130px;
    height: 100%;
    object-fit: cover;
    border-bottom-right-radius: 10px;
    filter: sepia(350%);
  }
  &.main-card{
    img{
      width: 200px;
      right: 30px;
      object-fit: cover;
    }
  }
  p{
    color: #96a0b5;
    font-size: 18px;
    .sar-balance{
      font-size: 16px;
    }
  }
  h3 {
    font-weight: 500;
    color: #222;
  }
  .info{
    position: absolute;
    top: 20px;
    right: 20px;
  }
  &.card-balance{
    background-image: url('../../../../assets/image/globe.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 85% center;
    img{
      filter: sepia(0) !important;
      width: 80px;
    }
  }
  &.card-fuel{
    img{
      filter: sepia(0) !important;
      width: 90px;
      height: 90px;
      object-fit: cover;
    }
  }
}

/* #################################### Chart Style ####################################### */
.chart-container{
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100%;
  height: 400px;

}
@media (max-width:567px) {
  .chart-container{
    height: 100%;
  }
}
/* #################################### Ads Style ####################################### */
owl-carousel-o{
  position: relative;
  img{
    height: 230px;
    object-fit: cover;
  }
  .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f793206d;
  }
}

/* #################################### Model Company Info ####################################### */
.modal-content{
  background-image: linear-gradient(to left, #f7932028 10%, #fff 90%);
}
.company-Info {
  box-shadow: 0 0 5px 5px #f793206e;
  border: none;
  label{
    font-size: 0.875rem;
    color: #8f8f8f;
    img{
      width: 20px;
    }
  }
  input, textarea{
    border: none;
    box-shadow: 0 4px 3px #f7932039;
    border-radius: 20px;
  }
  .btn-custom {
    background-color: #fff;
    color: $mainColor;
    border: 1px solid $mainColor;
    padding: 0.2rem 1.25rem;
    transition: 0.3s;
    width: 12.5rem;
    &:hover {
      background-color: $mainColor;
      color: #fff;
    }
  }
}
span:not(.main-color){
  font-size: 16px;
  color: #ccc;
}

