<section>
  <div class="container-fluid">
    <h3 class="mb-3">Setting Tags</h3>
    <div class="row">
      <div class="col-md-4">
        <form [formGroup]="tagForm" (ngSubmit)="submitTagForm()">
          <label class="mb-2" for="tag">Tags</label>
          <input id="tag" type="text" formControlName="title" class="form-control mb-2" placeholder="Enter Tag...">
          @if(update){
            <app-btnupdate (click)="updateTag()"></app-btnupdate>
          } @else {
            <app-btnadd></app-btnadd>
          }
        </form>
      </div>
      <div class="col-md-8">
        <label class="mb-2">Tags Details</label>
        <table class="table">
          <thead>
            <tr>
              <th class="text-center">#</th>
              <th class="text-center">Tags</th>
              <th class="text-center">Action</th>
            </tr>
          </thead>
          <tbody>
            @for(tag of allTags; track $index){
              <tr>
                <td class="text-center">{{$index + 1}}</td>
                <td class="text-center">{{tag.title}}</td>
                <td class="text-center">
                  <div class="d-flex justify-content-center align-items-center gap-2">
                    <i class="fa-solid fa-pen-to-square cr text-success" (click)="patchTag(tag)"></i>
                    <i class="fa-solid fa-trash-can cr text-danger" (click)="deleteTag(tag.id)"></i>
                  </div>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
