<section>
    <div class="container-fluid">
      <h3>Settings</h3>

      <div class="row">
        <div class="col-3">
          <div class="setting-box bg-success d-flex justify-content-center align-items-center rounded-circle cr" [routerLink]="['/setting-car-brand']">
            <h4>Car Brand</h4>
          </div>
        </div>

        <div class="col-3">
          <div class="setting-box bg-danger d-flex justify-content-center align-items-center rounded-circle cr" [routerLink]="['/setting-car-model']">
            <h4>Car Model</h4>
          </div>
        </div>

        <div class="col-3">
          <div class="setting-box bg-primary d-flex justify-content-center align-items-center rounded-circle cr" [routerLink]="['/setting-plate-type']">
            <h4>Plate Type</h4>
          </div>
        </div>

        <div class="col-3">
          <div class="setting-box bg-dark d-flex justify-content-center align-items-center rounded-circle cr" [routerLink]="['/setting-car-type']">
            <h4>Car Type</h4>
          </div>
        </div>
      </div>
    </div>
</section>
