$mainColor: #f79320;
.navbar{
    position: relative;
    align-items: start;
    transition: all .3s;
    & > i{
        color: #fff;
        position: absolute;
        left: 100%;
        background-color: $mainColor;
        padding: 10px;
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
    }
    .logo{
        img{
            width: 80px;
        }
        i{
            position: absolute;
            left: 100%;
        }
    }
    .list{
        width: 40px;
        transition: all .3s;
        background-color: #eee;
        li{
            margin-block: 15px;
            position: relative;
            transition: all .3s;
            i{
                font-size: 20px;
            }
            span{
                transition: all .3s;
                opacity: 0;
                font-size: 12px;
            }
            &::before{
                content: '';
                position: absolute;
                top: 50%;
                left: 135%;
                transform: translateY(-50%);
                width: 0;
                height: 0;
                background-color: $mainColor;
                transition: all .3s;
            }
            &:hover::before{
                width: 3px;
                height: 25px;
                left: 135%;
            }
            &.active, &:hover, &:hover span{
                color: $mainColor;
            }
            &.active::before{
                width: 3px;
                height: 25px;
            }
        }
        // &:hover {
        //     width: 130px;
        // }
        &:hover li span{
            opacity: 1;
        }
    }
    .profile{
        .user{
            width: 30px;
        }
        span{
            font-size: 14px;
        }
    }
    .logout{
        background-color: $mainColor;
        top: 40px;
        i{
            transform: rotate(180deg);
            font-size: 18px;
        }
    }
}