<section class="my-3">
  <div class="row g-3">
    <div class="col-md-6">
      <div class="main-bg text-white d-flex justify-content-between align-items-center gap-2 rounded-3 p-3">
        <div class="d-flex align-items-center gap-2">
          <svg width="62" height="63" viewBox="0 0 62 63" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M-0.0491351 52.1661C-0.0626995 57.8652 4.56077 62.4999 10.2596 62.4999C15.9584 62.4999 20.604 57.8652 20.6175 52.1661C20.629 47.361 17.3397 43.3101 12.8913 42.1605L12.8921 41.8324C12.9023 37.5594 16.3877 34.0821 20.6606 34.0821L41.3272 34.0821C44.2335 34.0821 46.9199 33.1159 49.0834 31.4935L49.058 42.1605C44.6042 43.3101 41.2956 47.361 41.2842 52.1661C41.2706 57.8652 45.8941 62.4999 51.5929 62.4999C57.2918 62.4999 61.9373 57.8652 61.9509 52.1661C61.9623 47.361 58.673 43.3101 54.2247 42.1605L54.2754 20.8394C58.7292 19.6898 62.0378 15.639 62.0492 10.8338C62.0628 5.13474 57.4393 0.500056 51.7405 0.500056C46.0417 0.500057 41.3961 5.13474 41.3826 10.8338C41.3711 15.639 44.6604 19.6898 49.1088 20.8394L49.108 21.1675C49.0978 25.4405 45.6124 28.9178 41.3395 28.9178L20.6729 28.9178C13.5506 28.9178 7.74241 34.7125 7.72545 41.835L7.72467 42.1631C3.27086 43.3127 -0.0376983 47.361 -0.0491351 52.1661Z" fill="white"/>
          </svg>
          <h3>Total <br><span>Cars</span></h3>
        </div>
        <h1 class="text-white">{{carCount}}</h1>
      </div>
    </div>

    <div class="col-md-6">
      <div class="main-bg text-white d-flex justify-content-between align-items-center gap-2 rounded-3 p-3">
        <div class="d-flex align-items-center gap-2">
          <svg width="62" height="62" viewBox="0 0 29 34" fill="#fff" xmlns="http://www.w3.org/2000/svg">
            <path d="M14.5 17C9.81225 17 6 13.1877 6 8.5C6 3.81225 9.81225 0 14.5 0C19.1878 0 23 3.81225 23 8.5C23 13.1877 19.1878 17 14.5 17ZM14.5 19.8333C7.27075 19.8333 1.21875 25.2478 0.423998 32.4275C0.380082 32.8284 0.508998 33.2279 0.776748 33.5282C1.04592 33.8286 1.42983 34 1.83217 34H5.99858C5.99858 29.3123 9.81083 25.5 14.4986 25.5C19.1863 25.5 22.9986 29.3123 22.9986 34H27.165C27.5673 34 27.9513 33.8286 28.2204 33.5282C28.4882 33.2279 28.6171 32.8284 28.5732 32.4275C27.7784 25.2478 21.7264 19.8333 14.4972 19.8333H14.5ZM14.5 28.3333C11.3748 28.3333 8.83333 30.8748 8.83333 34H20.1667C20.1667 30.8748 17.6252 28.3333 14.5 28.3333Z"/>
          </svg>
          <h3>Total <br><span>Drivers</span></h3>
        </div>
        <h1 class="text-white">{{driversCount}}</h1>
      </div>
    </div>

    <!-- Car Table -->
    @if(allCars){
      <div class="col-12 animate__animated animate__fadeInUp">
        <div class="bg-white rounded-3 shadow">
          <div class="table-responsive" #table>
            <table class="table overflow-x-scroll table-striped">
                <tbody>
                  @for(car of allCars | paginate: { itemsPerPage:pageSize , currentPage: currentPage, totalItems:carCount} ; track $index){
                    <tr>
                      <td>
                        <div class="d-flex flex-column justify-content-center align-items-start">
                          <span class="muted">ID</span>
                          <p class="text-table">{{ $index + 1 }}</p>
                        </div>
                      </td>

                      <td>
                        <div class="d-flex flex-column justify-content-center align-items-start">
                          <span class="muted">Model</span>
                          <p class="text-table">{{ car.model }}</p>
                        </div>
                      </td>

                      <td>
                        <div class="d-flex flex-column justify-content-center align-items-start">
                          <span class="muted">Plate</span>
                          <p class="text-table">{{ car.carNumber }}</p>
                        </div>
                      </td>

                      <td>
                        <div class="d-flex flex-column justify-content-center align-items-start">
                          <span class="muted">Color</span>
                          <p class="text-table">{{ car.color }}</p>
                        </div>
                      </td>

                      <td>
                        <div class="d-flex flex-column justify-content-center align-items-start">
                          <span class="muted">License Date</span>
                          <p class="text-table">{{ car.licenseDate | date }}</p>
                        </div>
                      </td>

                      <td>
                        <div class="d-flex flex-column justify-content-center align-items-start">
                          <span class="muted">Driver Name</span>
                          @for(driver of car.driversName; track $index){
                            <p class="text-table">{{ driver }}</p>
                          }
                        </div>
                      </td>

                      <td>
                        <div class="d-flex flex-column justify-content-center align-items-start">
                          <span class="muted">Petrol Type</span>
                          <p class="text-table">{{ car.petrolType ?? 'UnKnown' }}</p>
                        </div>
                      </td>
                    </tr>
                  }
                </tbody>
            </table>

            <!-- Pagination Controls -->
            <pagination-controls (pageChange)="onPageChange($event)" class="d-flex justify-content-center my-pagination"></pagination-controls>
          </div>
        </div>
      </div>
    } @else {
      <div class="vh-100 d-flex flex-column justify-content-center align-items-center bg-white shadow rounded-3">
        <img src="./assets/image/error_9042574.png" class="err-img" alt="error404" srcset="">
      </div>
    }
  </div>
</section>
