$mainColor:#f79320;
.my-pagination ::ng-deep .ngx-pagination .current {
  background: $mainColor !important;
  color: #fff !important ;
}
.err-img{
  width: 300px;
}
.head-card{
  position: relative;
  background-image: linear-gradient(to right, #aaaaaa6b, #eee);
  color: $mainColor;
  height: 100%;
  overflow: hidden;
  transition: all .3s;
  &::before{
    content: '';
    position: absolute;
    top: -50%;
    right: -15%;
    width: 50%;
    height: 100%;
    border-radius: 50%;
    background-color: $mainColor;
    z-index: 1;
    transition: all .3s;
  }
  h2{
    position: relative;
    z-index: 3;
    margin-top: 22px;
    font-size: 30px;
    font-weight: 500;
    svg{
      fill: $mainColor;
      transition: all .3s;
    }
  }
  .count{
    color: #fff;
    position: absolute;
    top: 5%;
    right: 4%;
    z-index: 2;
    h3{
      font-size: 30px;
    }
  }
  &:hover{
    color: #fff;
    svg{
      fill: #fff !important;
    }
  }
  &:hover:before{
    top: 0;
    right: 0;
    width: 100%;
    border-radius: 0;
  }
}
