$mainColor:#f79320;
.go-back{
  color: $mainColor;
  span{
    font-size: 13px;
  }
  i{
    font-size: 20px;
  }
}
/* #################################### Style Head Cards ####################################### */
.head-card {
  .icon-head{
    height: fit-content;
    border: 1px dotted;
  }
  img{
    width: 130px;
    height: 100%;
    object-fit: cover;
    filter: sepia(350%);
  }
  p{
    color: #96a0b5;
    font-size: 18px;
  }
  h3 {
    font-weight: 500;
    color: #222;
  }
}
i{
  font-size: 25px !important;
}
.cars,.drivers{
  border-color: #ffbf00 !important;
  i{
    color: #ffbf00;
  }
}
.my-pagination ::ng-deep .ngx-pagination .current {
  background: $mainColor !important;
  color: #fff !important ;
}
.err-img{
  width: 300px;
}

/* #################################### Style Table ####################################### */
.table-head th{
  background-color: #b5b5b570 !important;
}
.add-btn{
  border: 1px solid #f97b2190;
  width: fit-content;
  padding: 0 10px;
  transition: all .3s;
  h5{
    color: $mainColor;
    transition: all .3s;
  }
  svg{
    fill: #F97C21;
    transition: all .3s;
  }
  &:hover{
    background-color: $mainColor;
    h5{
      color: #fff;
    }
    svg{
      fill: #fff;
    }

  }
}
@mixin button-style($bg-color) {
  width: fit-content;
  border: none;
  font-size: 12px;
  background-color: $bg-color;
}
.dis-active-btn {
  @include button-style(#DCDCDC);
}
.active-btn {
  @include button-style(#008d7a);
}
.search{
  input{
    width: 300px;
    border: 1px solid #f97b2190;
    &::placeholder{
      color: #B8B8B8;
      font-weight: 300;
    }
    &:focus{
      border-color:$mainColor !important;
    }
  }
  svg{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    width: 20px;
    fill: $mainColor;
  }
}
@media (max-width:567px) {
  .search{
    input{
      width: 200px;
      border: 1px solid #f97b2190;
      background-color: #fff;
    }
  }
}
