<section class="login py-4 vh-100">
  <div class="container-fluid d-flex justify-content-center align-items-center h-100 w-100">
    <form class="row g-3" [formGroup]="userForm" (ngSubmit)="submitUserForm()">
      <div class="col-12">
        <label for="userName">UserName</label>
        <input formControlName="username" type="text" class="form-control" name="userName" id="userName" placeholder="Enter User Name...">
      </div>
      <div class="col-12">
        <label for="password">Password</label>
        <input formControlName="password" type="password" class="form-control" name="password" id="password" placeholder="Enter Password...">
      </div>
      <div class="col-12">
        <button class="btn btn-success">Submit</button>
      </div>
    </form>
  </div>
</section>
