$mainColor: #f79320;
.barnches, .users{
  & > svg{
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
  }
  .dis-active-btn{
    border : none;
    color: #6D6D6D;
    background-color: #DCDCDC;
  }
  .active-btn{
    border : none;
    background-color: #008D7A;
  }
}

.iban{
  .iban-number{
    font-weight: 800;
  }
  & > svg{
    position: absolute;
    top: 0;
    right: 0;
  }
  @media (max-width: 576px) {
    & > svg{
        z-index: -1;
    }
  }
}

.taiba{
  &::before{
    content: '';
    position: absolute;
    top: 0;
    right:15px;
    width: 2px;
    height: 90%;
    background-color: #c8c8c8;
  }
}

.company-Info{
  border: 1px solid $mainColor;
}
