$mainColor:#f79320;
h1{
  font-size: 64px;
}
.search{
  input{
    border-color: $mainColor;
  }
  svg{
    position: absolute;
    top: 13px;
    right: 20px;
  }
}
.download-container{
  .download-list{
    position: absolute;
    width: 100%;
    top: 5px;
  }
}
.text-table{
  background:none
}
.action-list{
  position: absolute;
  top: 100%;
  right: 48%;
  width: 200%;
}
