$mainColor:#f79320;
/* #################################### Head Cards Style ####################################### */
.head-card {
  .icon-head{
    height: fit-content;
    border: 1px dotted;
  }
  img{
    width: 130px;
    height: 100%;
    object-fit: cover;
    filter: sepia(350%);
  }
  p{
    color: #96a0b5;
    font-size: 18px;
  }
  h3 {
    font-weight: 500;
    color: #222;
  }
}
i:not(.fa-circle-info){
  font-size: 25px !important;
}
.plate-table{
  width: 70%;
  height: 50%;
  margin: 0 auto;
  border: 4px solid #000;
  td{
    border: 4px solid #000;
    width: 100px;
    font-size: 26px;
    font-weight: bold;
  }
  .row-ksa-img{
    width: 30px;
    span{
      font-size: 18px;
    }
    img{
      width: 60px;
    }
  }
}
/* #################################### Table Style ####################################### */
// .table-head th{
//   background-color: #eee !important;
// }
.add-btn{
  border: 1px solid #f97b2190;
  width: fit-content;
  padding: 0 10px;
  transition: all .3s;
  h5{
    color: $mainColor;
    transition: all .3s;
  }
  svg{
    fill: #F97C21;
    transition: all .3s;
  }
  &:hover{
    background-color: $mainColor;
    h5{
      color: #fff;
    }
    svg{
      fill: #fff;
    }

  }
}
.search{
  input{
    width: 300px;
    border: 1px solid #f97b2190;
    &::placeholder{
      color: #B8B8B8;
      font-weight: 300;
    }
    &:focus{
      border-color:$mainColor !important;
    }
  }
  svg{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    width: 20px;
    fill: $mainColor;
  }
}
@media (max-width:567px) {
  .search{
    input{
      width: 200px;
      border: 1px solid #f97b2190;
      background-color: #fff;
    }
  }
}

/* #################################### Form Style ####################################### */
label{
  font-weight: 600;
}
input, select{
  background: #F7F7F7;
  &::placeholder{
    font-weight: 200;
  }
}
label, input::placeholder{
  color: #4C4C4C;
  font-size: 14px;
}
.modal-content{
  background-color: #F0F0F0;
}
.save-btn{
  width: 143px;
  height: 41px;
  padding: 6px 29px 6px 30px;
  color: #F97C21;
  font-size: 20px;
  font-weight: 700;
  border-radius: 63px;
  border: 1px solid #F97C21;
  background: #FFF;
  position: relative;
  overflow: hidden;
  span, svg{
    z-index: 3;
    transition: all .3s;
  }
  &::before{
    content: '';
    position: absolute;
    top: 45%;
    left: 67%;
    background-color: $mainColor;
    width: 0;
    height: 0;
    border-radius: 63px;
    transition: all .3s;
  }
  &:hover::before{
    top: 0;
    left: 0;
    width: 101%;
    height: 101%;
  }
  &:hover span{
    color: #fff;
  }
  svg{
    fill: $mainColor;
    transition: all .3s;
  }
  &:hover svg{
    fill: #fff;
  }
}
.add-car-btn{
  width: 35px;
  height: 35px;
  border: 1px solid $mainColor;
  color: $mainColor;
  transition: all .3s;
  &:hover{
    background-color: $mainColor;
    color: #fff;
  }
}
.download-template{
  border: 1px solid $mainColor;
  color: $mainColor;
  &:hover{
    background-color: $mainColor;
    color: #fff;
  }
}

/* #################################### Pagination Style ####################################### */
.my-pagination ::ng-deep .ngx-pagination .current {
  background: $mainColor !important;
  color: #fff !important ;
}
