/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
$mainColor: #f79320;
*:not(i){
  font-family: "Plus Jakarta Sans", serif;
}
.main-color{
    color: $mainColor;
}
.main-bg{
    background-color: $mainColor;
}
.cr{
    cursor: pointer;
}
::-webkit-scrollbar {
    width: 1px;
  }
::-webkit-scrollbar-track {
background: #fff;
}
::-webkit-scrollbar-thumb {
background: #fff;
}
body{
    overflow-x: hidden;
}
