/* You can add global styles to this file, and also import other style files */
$mainColor: #f79320;
.main-color{
    color: $mainColor;
}
.main-bg{
    background-color: $mainColor;
}
.cr{
    cursor: pointer;
}
::-webkit-scrollbar {
    width: 1px;
  }
::-webkit-scrollbar-track {
background: #fff;
}
::-webkit-scrollbar-thumb {
background: #fff;
}
body{
    overflow-x: hidden;
}
