$mainColor:#f79320;
.search{
    input{
        border-color: $mainColor;
    }
    svg{
        position: absolute;
        top: 13px;
        right: 20px;
    }
}
.option{
    background-color: #DCDCDC;
    h5{
        font-size: 18px;
    }
}
