$mainColor:#f79320;
.action-list{
  position: absolute;
  top: 100%;
  right: 55%;
  li{
    transition: all .3s;
    width: 152px;
    &:hover{
      background-color: #eee;
    }
  }
}
label, input::placeholder{
  color: #4C4C4C;
  font-size: 14px;
}
label{
  font-weight: 600;
}
input, .code-num, select, textarea{
  background: #F7F7F7;
  &::placeholder{
    font-weight: 200;
  }
}
.download-container{
  .download-list{
    position: absolute;
    width: 100%;
    top: 5px;
  }
}
.code-num{
  position: relative;
  &::before{
    content: '';
    position: absolute;
    top: 18%;
    right: 0;
    transform: translateX(-50%, -50%);
    height: 70%;
    width: 2px;
    background-color: #CCC;
  }
}
.modal-content{
  background-color: #F0F0F0;
}
.save-btn{
  width: 143px;
  height: 41px;
  padding: 6px 29px 6px 30px;
  color: #F97C21;
  font-size: 20px;
  font-weight: 700;
  border-radius: 63px;
  border: 1px solid #F97C21;
  background: #FFF;
  position: relative;
  overflow: hidden;
  span, svg{
    z-index: 3;
    transition: all .3s;
  }
  &::before{
    content: '';
    position: absolute;
    top: 45%;
    left: 67%;
    background-color: $mainColor;
    width: 0;
    height: 0;
    border-radius: 63px;
    transition: all .3s;
  }
  &:hover::before{
    top: 0;
    left: 0;
    width: 101%;
    height: 101%;
  }
  &:hover span{
    color: #fff;
  }
  svg{
    fill: $mainColor;
    transition: all .3s;
  }
  &:hover svg{
    fill: #fff;
  }
}
.switch {
  display: inline-block;
  width: 51px;
  height: 20px;
  position: relative;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px;
  transition: 0.4s;
}

.slider:before {
  content: "";
  position: absolute;
  height: 20px;
  width: 17px;
  border-radius: 50%;
  left: 0;
  bottom: 0;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: $mainColor !important;
}
input:checked + .slider:before {
  transform: translateX(200%) !important;
}
.muted{
  font-size: 10px;
  &.delete-text{
    color: #f00 !important;
  }
}
.my-pagination ::ng-deep .ngx-pagination .current {
  background: $mainColor !important;
  color: #fff !important ;
}
.download-template{
  border: 1px solid $mainColor;
  color: $mainColor;
  &:hover{
    background-color: $mainColor;
    color: #fff;
  }
}
.download-template{
  border: 1px solid $mainColor;
  color: $mainColor;
  &:hover{
    background-color: $mainColor;
    color: #fff;
  }
}

/* #################################### Style Table ####################################### */
.table-head th{
  background-color: #b5b5b570 !important;
}
.add-btn{
  border: 1px solid #f97b2190;
  width: fit-content;
  padding: 0 10px;
  transition: all .3s;
  h5{
    color: $mainColor;
    transition: all .3s;
  }
  svg{
    fill: #F97C21;
    transition: all .3s;
  }
  &:hover{
    background-color: $mainColor;
    h5{
      color: #fff;
    }
    svg{
      fill: #fff;
    }

  }
}
@mixin button-style($bg-color) {
  width: fit-content;
  border: none;
  font-size: 12px;
  background-color: $bg-color;
}
.dis-active-btn {
  @include button-style(#DCDCDC);
}
.active-btn {
  @include button-style(#008d7a);
}
.search{
  input{
    width: 300px;
    border: 1px solid #f97b2190;
    &::placeholder{
      color: #B8B8B8;
      font-weight: 300;
    }
    &:focus{
      border-color:$mainColor !important;
    }
  }
  svg{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    width: 20px;
    fill: $mainColor;
  }
}
@media (max-width:567px) {
  .search{
    input{
      width: 200px;
      border: 1px solid #f97b2190;
      background-color: #fff;
    }
  }
}
